// $primary-color: #2e2e38;
@import "../../styles.scss";

.navbar-custom {
  background-color: $primary-color !important;
  color: $primary-text !important;
  z-index: 1;
}

.navbar-custom .navbar-brand {
  color: $primary-text !important;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }

  button {
    color: $primary-text !important;

    margin: 0.5rem;
  }
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
