@import "~bootstrap/scss/bootstrap";
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

$primary-color: #2e2e38;
$secondary-color: #eee;

$primary-text: #eee;
$secondary-text: #2e2e38;
