@import "~bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lig;
}

body {
  font-family: "Roboto", sans-serif;
}

$primary-color: #2e2e38;
$secondary-color: #eee;
$alternate-color: #505061;

$primary-text: #eee;
$secondary-text: #2e2e38;

figure {
  margin: 7rem auto;
  width: 900px;
  max-width: 900px;
}

video {
  width: 100%;
}

.complete {
  border: 1rem solid rgb(255, 225, 0);
}
.incomplete {
  border: 1rem solid #2e2e388c;
}
