figure {
  position: absolute;
  left: 50%;
  top: 7rem;
  transform: translate(-50%, 0);
  width: 95vw;
  max-width: 900px;
}

video {
  width: 100%;
}

.icon-group {
  display: flex;
  align-items: center;
}

.controls {
  margin-top: -0.5rem;
  background-color: #2e2e38;
}

.controls :first-child {
  margin-left: 0.25rem;
}
// .controls :last-child {
//   margin-right: 0;
// }

.icon {
  color: #eeeeee;
  margin: 0 1rem;
  font-size: 16px;
}

.progress-container {
  width: 40vw;
}

.progress {
  height: 4px;
  width: 40vw;
  max-width: 25rem;
  margin: 0 1rem;
}

.controls .progress {
  cursor: pointer;
}

.controls button {
  border: none;
  cursor: pointer;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.controls button:hover {
  opacity: 0.5;
}

.controls progress span {
  width: 0%;
  height: 0.2px;
  display: inline-block;
  background-color: #eeeeee;
}

.controls progress::-moz-progress-bar {
  background-color: #eeeeee;
}

.controls progress::-webkit-progress-value {
  background-color: #eeeeee;
}

ul {
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

li {
  width: auto;
  float: left;
}

.duration {
  font-size: 12px;
}

video::-webkit-media-controls {
  display: none !important;
}

#test {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  color: #aaa;
  &::-webkit-progress-bar {
    background: #f1f1f1;
  }
  &::-webkit-progress-value {
    background: #aaa;
  }
  &::-moz-progress-bar {
    background: #aaa;
  }
}
