ul {
  list-style-type: none;
}

li {
  float: left;
}

figure {
  width: 100vw;
  height: auto;

  background-color: #666;
}

video {
  width: 100%;
}
.controls {
  width: 100%;
  height: 8.0971659919028340080971659919028%;
  position: relative;
}

#progress {
  width: 35rem;
  height: 1rem;
}

#progress-bar {
  width: 1%;
}
